<div class="row">
    <div class="span4">
        <h2>Creating Events</h2>

        <p>Thinking of having a small gathering? DoSmth is the best place for you to find the enthusiastic crowd 
        necessary to make it happen! From pick up ultimate frisbee to garage sales, DoSmth will help you advertise
        and plan your event.

    </div>
    <div class="span4">
        <h2>Join the Community</h2>

        <p>Tired of doing the same thing every weekend? Check out what's happening in your community! You can use
        DoSmth to find all the events happening in your area. You can also subscribe to find out about when your favorite 
        events are happening nearby.</p>

    </div>
</div>
