<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/download.png" width="50" style="float: left;">
        <h4>Help out on the proect</h4>
        <p>The source code for this application is available in <a href="https://github.com/davidyjeong">this repository</a> on GitHub.</p>
    </div>
</div>

<br/>

<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/discuss.png" width="50" style="float: left;">
        <h4>Comments and questions</h4>
        <p>Please send all comments and questions to <a href="mailto:davidyjeong@gmail.com">my email</a></p>
    </div>
</div>

<br/>


<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/twitter.png" width="50" style="float: left;">
        <h4>Follow me on Twitter</h4>
        <p><a href="http://twitter.com/davidyjeong">@davidyjeong</a></p>
    </div>
</div>

<br/>


<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/blog.png" width="50" style="float: left;">
        <h4>Check out the tutorial that helped start the project</h4>
        <p><a href="http://coenraets.org">http://coenraets.org</a></p>
    </div>
</div>