<div class="row">
    <div class="span4">
        <h2>Create an Event</h2>

        <p>Thinking of having a small gathering? DoSmth is the best place for you to find the enthusiastic crowd 
        necessary to make it happen! From pick up ultimate frisbee to garage sales, DoSmth will help you advertise
        and plan your event.
        <br/><br/><a class="btn btn-primary btn-large" href="#events/add">Get Started &raquo;</a></p>

    </div>
    <div class="span4">
        <h2>Join the Community</h2>

        <p>Tired of doing the same thing every weekend? Check out what's happening in your community! You can use
        DoSmth to find all the events happening in your area. You can also subscribe to find out about when your favorite 
        events are happening nearby.</p>

    </div>
    <div class="span4">
        <h2>Share It</h2>

        <p>Let your friends know about DoSmth and watch your community grow!
            <br/>

        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Let's do something!" data-via="dosmth_">Tweet</a>
        </p>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>

        <div class="fb-like" data-href="http://www.davdjeong.com" data-send="false" data-layout="button_count"
             data-width="450" data-show-faces="false" data-action="recommend"></div>
        <!-- Facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>        
        <!-- End Facebook -->

        </p>
    </div>
</div>
