html,body{
  	height:100%;
    padding-top: 28px;
}

/*about*/
.about-icon {
    padding-right:10px;
}

/*navbar*/
.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #008F6B;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#00CC99;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #00CC99;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

.navbar-right {
    padding-right: 20px;
}

.smth-view {
    padding-top:20px;
}

/* form */
.form-control {
    width:95%;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
    padding-left:30px;
}

#left {
	height:100%;
}

#map-canvas {
	width:41%;
    height:calc(100% - 0);
    position:absolute;
    left:0px;
    top:50px;
    bottom:0;
    overflow:hidden;
}